{% extends 'dashboard/base_puerperio.html' %}
{% load static %}
{% block title %}Edición Recien nacido{% endblock %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="data-buscar">
            <div class="panel panel-default">
                <div id="data-head" class="panel-heading">
                    <h3 class="panel-title">Editar registro de recien nacidos</h3>
                </div>
                {% include 'partos/paciente_header.html' with paciente=paciente %}
                {% include 'puerperio/tabs.html' with terminacion_embarazo=terminacion_embarazo %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="data-buscar">
            <div class="panel panel-default">
                <div id="data-head" class="panel-heading">
                    <h3 class="panel-title">Editar registro de recien nacido</h3>
                </div>
                <div class="panel-body">
                    <div id="data-gestante" class="panel panel-default">
                        <div class="panel-body">
                            {% include 'puerperio/recien_nacido_form.html' with form=form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block bottom_scripts %}
    {% include 'puerperio/recien_nacido_form_js.html' %}
{% endblock %}
