<script>
    $(document).on('ready', function () {
        var $field = $('#{{ field.auto_id }}');
        var name = $field.attr('name');
        var id = $field.val();
        var dataName = $field.data('name');
        $field.replaceWith('<input type="text" id="#id" name="#name" data-name="#data-name" />'
                .replace('#id', '{{ field.auto_id }}')
                .replace('#name', name)
                .replace('#data-name', dataName));
        $($('#{{ field.auto_id }}')).select2({
            ajax: {
                url: '{% url 'cie:api_search' %}',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params,
                        page: params.page
                    };
                },
                results: function (data, page) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            minimumInputLength: 3,
            width: '100%',
            initSelection: function (elem, callback) {
                $('#{{ field.auto_id }}').val(id);
                if (dataName !== '') {
                    callback({
                        id: id,
                        nombre: dataName
                    });
                }
            },
            formatSelection: function (item) {
                $field.val(item.id);
                return item.nombre;
            },
            formatResult: function (item) {
                return '<p>#name</p>'.replace('#name', item.nombre);
            },
            formatNoMatches: function () {
                return 'No se encontró resultados';
            }
        });
    });
</script>