{% load form_filter %}
<div class="form-group">
    {% if field.field.required %}* {% endif %}{{ field.label }}</label>
    <div class="col-sm-{% if left %}{{ right }}{% else %}12{% endif %}">
        <div class="input-group">
            {% if without_class == True %}
            {{ field }}
            {% else %}
            {{ field|add_class:'form-control input-sm' }}
            {% endif %}
            <span class="input-group-addon">{{ addon }}</span>
        </div>
        {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
</div>