{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Agregar embarazo{% endblock %}
{% block extra_style %}
  <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="{% static 'css/select2.css' %}" />
{% endblock %}
{% block container %}
  <div class="row">
    <div class="col-md-12">
      <div id="data">
        <form class="form-horizontal" id="form-embarazo" name="form-embarazo" role="form" method="post">
          {% csrf_token %}
          <div class="panel panel-default">
            <div id="data-head" class="panel-heading">
              <h3 class="panel-title">Registro del embarazo actual</h3>
            </div>
            {% include 'embarazos/partials/control_paciente_resume_header.html' with paciente=paciente %}
            {% include 'embarazos/partials/embarazo_form.html' with form=form %}
            <div class="panel-footer">
              <div class="pull-left">
                <a class="btn btn-default" href="{% url 'embarazos:ultimos_embarazos' paciente.id %}">Cancelar</a>
              </div>

              <div class="text-right">
                <input class="btn btn-green" type="submit" value="Guardar" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block bottom_scripts %}
  <script src="{% static 'js/vendor/select2.min.js' %}"></script>
  {% include 'embarazos/partials/embarazo_form_js.html' %}
{% endblock %}
