{% extends 'dashboard/base.html' %}
{% block container %}
    <div class="row">
        <div class="col-md-3">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="current_password">Contraseña actual</label>
                    <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Ingrese su contraseña actual">
                    {% for error in form.current_password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="new_password">Nueva Cotraseña</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Ingrese su nueva contraseña">
                    {% for error in form.new_password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-green pull-right">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}