{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<title>Wawared</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset='utf-8'>
  <script src="{% static 'js/jquery.js' %}"></script>
  {% include 'session_security/all.html' %}
<!-- Bootstrap -->
<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
<link href="{{STATIC_URL}}css/wawared.css" rel="stylesheet" media="screen">
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
</head>
<body>

<div class="green">
  <div class="container text-center">
    <img src="{{STATIC_URL}}img/logo-login.png" alt="wawared">
  </div>

</div>
<div class="yellow"></div>
<div id="login">
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="panel panel-default">

        <div id="login-head" class="panel-heading text-center">
          <h4>Resetear contraseña</h4>

        </div>
        <div class="panel-body">
          <div class="form-signin">
            <div class="form-group">
              <input type="text" name="username" class="form-control" id="inputText" placeholder="Usuario">
            </div>
          </div>

          {% if form.errors %}
          <div class="alert alert-danger">{{ form.errors.username }}</div>
          {% endif %}

        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-green pull-right">Resetear</button>
          <div style="clear: both"></div>
        </div>

      </div>
    </form>
  </div>
</div>

</body>
</html>
