{% load static %}
{% load common_tags %}

<div class="pagination-centered">
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}&{{ query }}">&laquo;</a></li>
    {% else %}
        <li class="disabled"><a href="">&laquo;</a></li>
    {% endif %}
    
    {% for page_number in page_obj|pagination_range %}
        {% if page_number == page_obj.number %}
            <li class="active"><a href="#">{{ page_obj.number }}</a></li>
        {% else %}
            <li>
                <a href="?page={{ page_number }}&{{ query }}">{{ page_number }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}&{{ query }}">&raquo;</a></li>
    {% else %}
        <li class="disabled"><a href="">&raquo;</a></li>
    {% endif %}
    </ul>
</div>
