{% extends 'dashboard/base.html' %}
{% load static %}
{% load paciente_tags %}

{% block title %}Buscar gestantes{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
      <div id="data-buscar">
        <div class="panel panel-default">
          <div id="data-head" class="panel-heading">
            <h3 class="panel-title">Buscar gestante</h3>
          </div>
          <div class="panel-body">

            <div class="row">
              <form role="search" method="get">
                <div class="row" style="margin-left:2px; ">
                  <div class="col-sm-2">
                    <label>Tipo búsqueda:</label>
                  </div>
                  <div class="col-sm-4">
                    <select id="tipo_busqueda_paciente" name="t" class="input-sm select-gray-border reniec">
                      <option value="1" class="input-sm select-gray-border">DNI</option>
                      <option value="2" class="input-sm select-gray-border">Apellidos y nombres</option>
                      <option value="3" class="input-sm select-gray-border">Otro documento (Pasaporte, carnet de extranjería)</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <div id="id_campos" class="input-group">
                      <input type="number" name="q" class="form-control" placeholder="Ingrese dato a buscar" autofocus>
                      <span class="input-group-addon">
                                        <button>
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row" style="margin-left:2px;">
              <form method="get" action="{% url 'paciente:create' %}">
                <input class="btn btn-green" id="btn_registrar_ges" type="submit" value="Registrar Gestante" />
              </form>
            </div>

          </div>
          <div class="panel-body">
            <div id="data-buscar-body" class="panel panel-default">
              <table class="table table-striped table-bordered">
                <thead class="panel-heading">
                <tr>
                  <th># HC</th>
                  <th>Nombre y apellidos</th>
                  <th>Fecha de última atención</th>
                  <th>Opciones</th>
                </tr>
                </thead>
                <tbody class="panel-body">
                {% for paciente in object_list %}
                  <tr>
                    {% if paciente.id %}
                      <td>{{ paciente|hc:request }}</td>
                      <td>
                        {% if 'pacientes.change_paciente' in user.get_all_permissions %}
                          <a href="{% url 'paciente:update' paciente.id %}">{{ paciente.nombre_completo }}</a>
                        {% else %}
                          <a href="{% url 'paciente:detail' paciente.id %}">{{ paciente.nombre_completo }}</a>
                        {% endif %}
                      </td>

                      {% with paciente.get_ultimo_atencion_embarazo_activo as ultimo_control %}
                        <td>
                          {% if ultimo_control %}
                            {{ ultimo_control.atencion_fecha }}
                          {% endif %}
                        </td>

                        <td>
                          <div class="btn-group btn-group-sm">
                            {% if 'pacientes.change_antecedenteginecologico' in user.get_all_permissions %}
                              {% if ultimo_control %}
                                <a class="btn btn-default" href="{% url 'controles:create' ultimo_control.embarazo.id %}">Agregar atención</a>
                                <a class="btn btn-default" href="{% url 'embarazos:ultimo_embarazo_from_embarazo_create' paciente.id ultimo_control.embarazo.id %}">Información del parto</a>
                              {% else %}
                                <a class="btn btn-default" href="{% url 'embarazos:create' paciente.id %}" style="">Agregar embarazo</a>
                              {% endif %}
                            {% endif %}
                          </div>
                        </td>
                      {% endwith %}

                    {% else %}
                      {% if paciente.nombre_completo %}
                        <td>{{ paciente.numero_documento }}</td>
                        <td>
                          {{ paciente.nombre_completo }}
                        </td>
                        <td>
                        </td>
                        <td>
                          <a class="btn btn-default beforeclick" href="{% url 'paciente:create_force' paciente.numero_documento %}">Afiliar</a>
                        </td>
                      {% endif %}
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% if msg %}
            <div class="alert alert-danger">
              {{ msg }}
            </div>
          {% endif %}
          <div class="panel-footer">

            <p class="pull-left">
              Total de resultados: {{ total }}
            </p>
            <div class="pull-right">
              {% include 'dashboard/pagination.html' with query=query %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bottom_scripts %}
  <script src="{% static 'js/paciente_list.js' %}"></script>
{% endblock %}
